* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Creates the blue background at the top. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets position and size of 'Horiseon' */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Makes 'seo' a different color in the header */
.header h1 .seo {
    color: #d9dcd6;
}

/* Places the words and links in the top right of the header */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Sets the list to have no bullets */
.header nav ul {
    list-style-type: none;
}

/* Sets the list items to respect margins and be inline with each other */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Sets color of anchor text to white and no underline */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets font-size of paragraphs */
p {
    font-size: 16px;
}

/* Sets background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets image placement to left of content */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Sets image placement to right of content */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets the placement and size of content background boxes*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets position, size, font type, and color of benefits sidebar */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sets color and margins on text in one portion of benefits sidebar */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Redundant */
/* .benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
} */

/* Redundant */
/* .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
} */

/* Sets one benefit's header margins and alignment */
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Redundant */
/* .benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* Redundant */
/* .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* Sets one benefit's image positioning and size */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Redundant */
/* .benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/* Redundant */
/* .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/* Sets size and position of content background boxes as well as font color and style */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Redundant */
/* .online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* Redundant */
/* .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* Sets size of content image */
main img {
    max-height: 200px;
}

/* Redundant */
/* .online-reputation-management img {
    max-height: 200px;
} */

/* Redundant */
/* .social-media-marketing img {
    max-height: 200px;
} */

/* Sets margins and size of content heading */
main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Redundant */
/* .online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* Redundant */
/* .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* Sets margins, positioning, text alignment, and font style for the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Sets footer header font size */
footer h2 {
    font-size: 20px;
}